.loading {
  height: 100%;
}

.container {
  height: 100%;
  position: relative;
}

@media (max-device-width: 812px) {
  .container {
    display: flex;
    flex-flow: column-reverse;
  }
}

.map {
  height: 100%;
}

@media (max-device-width: 812px) {
  .map {
    width: 100%;
  }
}
